<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="editprofile.css">
  <title>BOSCH Workspeak</title>
</head>

<body>
  <header>
    <div class="header-box">
      <img src="bosch.png" alt="BOSCH">
      <form action="" method="" class="signout">
        <button type="submit" class="signout-btn"><i class="ph-sign-out"></i></button>
      </form>
    </div>
  </header>
  <section class="profile-container" id="main">
    <div class="img-container">
      <div id="divimg" class="imagem" onmouseenter="hoverImg()" onmouseleave="hoverImg()">
        <img id='img' src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-cat-photos-1593441022.jpg"
          alt="">
        <input type="file" id="flImage" name="attfoto" accept="image/*">
        <div class="hover-img" id="hoverimg">
          <i class="ph-camera"></i>
        </div>
      </div>
      <button type="submit" class="change-btn" onclick="openPasswordModal()">Change password</button>
    </div>
    <div class="content">
      <form action="">
        <div class="field-container">
          <div class="fields">
            <div class="fieldset">
              <p>Name</p>
              <input type="text" name="name" id="name" value="Lucas Fortunato">
            </div>
            <div class="fieldset">
              <p>Role</p>
              <input type="text" name="role" id="role" value="Software engineer">
            </div>
            <div class="fieldset">
              <p>Sector</p>
              <select name="sector" id="sector">
                <option value="1">ETS</option>
                <option value="2">CRIM</option>
                <option value="3">TEF</option>
              </select>
            </div>
          </div>
          <div class="fieldset">
            <p>Description</p>
            <textarea name="description" id="description" cols="30" rows="10">descriptioniononononon</textarea>
          </div>
        </div>
        <div class="btn-container">
          <button class="submit-btn cancel-btn">Cancel</button>
          <button type="submit" class="submit-btn">Save changes</button>
        </div>
      </form>
    </div>
  </section>
  <div class="changepassword-modal hidden" id="passwordModal">
    <form action="">
      <div class="field-container">
        <div class="fieldset">
          <p>Old password</p>
          <input type="text" name="oldpassword" id="oldpassword" required>
        </div>
        <div class="fieldset">
          <p>New password</p>
          <input type="text" name="newpassword" id="newpassword" required>
        </div>
      </div>
      <button type="submit" class="submit-btn">Change</button>
    </form>
  </div>
  <script src="editprofile.js"></script>
  <script src="editphoto.js"></script>
  <script src="passwordModal.js"></script>
</body>

</html>