<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="profile.css">
  <title>BOSCH Workspeak</title>
</head>
<body>
  <header>
    <img src="bosch.png" alt="BOSCH">
  </header>
  <section class="profile-container">
    <div class="img-container">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-cat-photos-1593441022.jpg" alt="">
    </div>
  </section>
</body>
</html>