<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="editprofile.css">
  <link rel="stylesheet" href="viewprofile.css">
  <title>BOSCH Workspeak</title>
</head>

<body>
  <header>
    <div class="header-box">
      <img src="bosch.png" alt="BOSCH">
      <form action="" method="" class="signout">
        <button type="submit" class="signout-btn"><i class="ph-sign-out"></i></button>
      </form>
    </div>
  </header>
  <section class="profile-container" id="main">
    <div class="img-container">
      <div id="divimg" class="imagem" style="cursor: default">
        <img id='img' src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-cat-photos-1593441022.jpg"
          alt="">
        <input type="file" id="flImage" name="attfoto" accept="image/*">
      </div>
    </div>
    <div class="content">
      <div class="role-sector">
        <h1 style="text-transform: uppercase">crim</h1>
        <h2>Engenheiro mecânico</h2>
      </div>
      <div class="user-info">
        <strong>Lucas Fortunato</strong>
      </div>
      <div class="description">
        amo trabalhar na bosch meu deus amo meu emprego é bom demaisssss plr mt bom iphone caneta azulamo trabalhar na bosch meu deus amo meu emprego é bom demaisssss plr mt bom iphone caneta azulamo trabalhar na bosch meu deus amo meu emprego é bom demaisssss plr mt bom iphone caneta azulamo trabalhar na bosch meu deus amo meu emprego é bom demaisssss plr mt bom iphone caneta azul
      </div>
      <div class="back">
        <a href="index.html">Go back</a>
      </div>
    </div>
  </section>
  <script src="editprofile.js"></script>
</body>

</html>