@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

:root {
  --white: #fff;

  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;
  --red-600: #D40000;
  --backimg: #e1e1e6;
}

::selection {
  background-color: var(--gray-900);
}

#password, #password-s{
  padding-right: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-900);
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  width: 100vw;
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
  height: 5vh;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lightmode-btn {
  height: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  color: var(--white);
}

.lightmode-btn:hover {
  scale: 1.1;
}

.signout-btn {
  border: 0;
  padding: 6px;
  border-radius: 8px;
  background-color: transparent;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.signout-btn:hover {
  background-color: var(--red-600);
}

header img {
  width: 100px;
  background-color: transparent;
}

main {
  width: 60vw;
  margin-top: 2vh;
  min-height: 93vh;
  display: flex;
  justify-content: space-between;
  transition: .8s;
}

.profile-container {
  background-color: var(--gray-700);
  width: 33%;
  height: 35vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 100px;
}

/* PROFILE */

.background {

  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: unset;
}

.background img {
  padding: 4px;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: var(--red-600);
  border-radius: 12px;
  border: 1px var(--red-600) solid;
}

.role {
  width: 100%;
  text-align: center;
  margin-top: 18%;
  color: var(--white);
}

.role strong {
  font-size: 1.475rem;
  letter-spacing: 1px;
}

.role p {
  font-weight: 400;
}

.edit-btn {
  margin-top: 10%;
  color: var(--red-600);
  background-color: transparent;
  padding: 8px 16px;
  font-size: 1.25rem;
  border-radius: 8px;
  border: 2px solid var(--red-600);
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
}

.edit-btn:hover {
  color: var(--white);
  background-color: var(--red-600);
}

/* POST */
.post {
  width: 100%;
  background-color: var(--gray-700);
  min-height: 0vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 4%;
  color: var(--white);
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.user img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  padding: 4px;
  background-color: var(--red-600);
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.name {
  text-align: left;
}

.user-btn .name strong {
  color: var(--gray-100);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.user-btn .name p {
  font-size: 0.875rem;
  color: var(--gray-300);
}

.timer h3 {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--gray-300);
}

.content {
  margin-top: 2%;
  height: fit-content;
  text-overflow: ellipsis;
  overflow-y: scroll;
  padding: 12px;
  text-align: justify;
  word-wrap: break-word;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--white);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--gray-600);
  /* color of the scroll thumb */
}

.afterline {
  align-self: center;
  width: 20%;
  height: 1px;
  background-color: var(--red-600);
}

.cc {
  width: 30%;
  height: 1px;
  margin-bottom: 30px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-top: 0.5em;
}

.comment-box form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25em;
}

textarea {
  background-color: var(--gray-900);
  border: 0;
  padding: 12px;
  border-radius: 12px;
  color: var(--white);
  text-overflow: ellipsis;
  overflow-y: scroll;
  resize: none;
  height: 100px;
  font-weight: 400;
  transition: all .5s;
  width: 100%;
}

textarea:focus {
  outline: none;
}

textarea:hover {
  filter: brightness(1.1);
}

.comment-box span {
  font-weight: bold;
}

.submit-btn {
  width: fit-content;
  padding: 8px 16px;
  margin-top: 1em;
  border-radius: 6px;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  background-color: var(--red-600);

  transition: .3s;
}

.submit-btn:hover {
  filter: brightness(1.2);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.new-post-btn {
  position: fixed;
  padding: 12px;
  margin: 12px;
  bottom: 2vh;
  right: 19.6vw;
  color: #fff;
  font-size: 1.9rem;
  text-align: center;
  background-color: var(--red-600);
  cursor: pointer;
  font-weight: bold;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: .3s;
  border: 0;
}

.new-post-btn:hover {
  font-size: 2.2rem;
  animation: rotate 2s ease-in-out;
  animation-delay: 50ms;
}

/* comments */
.comments {
  width: 100%;
  margin-top: 3%;
  height: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.comments p {
  font-size: 1.5rem;
}

.comment {
  margin-top: 1em;
  height: fit-content;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--gray-900);
}

.info-user img {
  width: 60px;
  height: 60px;
  padding: 4px;
  border-radius: 8px;
  background-color: var(--backimg);
}

.info-user {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.name {
  display: flex;
  flex-direction: column;
}

.nm {
  font-size: 1rem;
  color: var(--white)!important;
}

.name strong {
  color: var(--white)!important;
}

.name p {
  font-size: 0.875rem;
  color: var(--white);
}

.comment-content {
  margin-top: 10px;
  height: fit-content;
  word-wrap: break-word;
}

.img-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.post-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.user-btn {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.user-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.arrow {
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  transition: .5s;
}

.post-modal a {
  text-decoration: none;
}

.arrow:hover {
  transform: translateX(-50%);
  scale: 1.1;
}

.content-box {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.content-box textarea {
  width: 100%;
  height: 100%;
}

.content-box span {
  position: relative;
  left: 90%;
  bottom: 30%;
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.5;
}

.ph-eye, .ph-eye-slash{
  position: absolute;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.5;
  cursor: pointer;
  width: fit-content;
  right: calc(50% + 150px);
}

.fieldset div {
  display: flex;
  align-items: center;
}

.x {
  right: calc(50% - 7vw);
}

.content-box p {
  position: relative;
  left: 90%;
  bottom: 18%;
  color: var(--white);
  opacity: 0.5;
}

.editform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options .dots {
  font-size: 1.8rem;
  cursor: pointer;
  transition: .5s;
}

.options:hover .dots {
  color: var(--red-600);
  transform: translate(15px, 25px);
}

.options-modal {
  position: absolute;
  width: 200px;
  height: 80px;
  border-radius: 8px;
  right: 23vw;
  display: none;
  animation: options-slide .3s;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 8px;
  transition: .3s;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.options:hover .options-modal {
  display: block;
}

.editform {
  width: 100%;
  height: 50%;
  border-radius: 8px 8px 0 0;
}

.editform-btn {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px 8px 0 0;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  transition: .1s;
}

.del {
  border-radius: 0 0 8px 8px;
  height: 40px;
}

.editform-btn:hover {
  background-color: var(--red-600);
}

.editform-btn i {
  font-size: 1.25rem;
}

@keyframes options-slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.delbtn {
  padding: 6px 12px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: .3s;
  color: var(--white);
}

.delbtn:hover {
  color: var(--red-600);
}

.up-btn {
  transition: all 0.5s;
  width: 50px; height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2em;
  text-decoration: none;
  padding: 8px;
  background-color: var(--red-600);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 99px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.up-btn:hover .up-icon{
  transform: translateY(-70%);
}

.up-icon {
  transition: .5s;
}