@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

:root {
  --white: #fff;

  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;
  --red-600: #D40000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-900);
  width: 99vw;
}

header {
  width: 100vw;
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.header-box {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signout {
  position: absolute;
  right: 20vw;
}

.signout-btn {
  border: 0;
  padding: 6px;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.signout-btn:hover {
  background-color: var(--red-600);
}

header img {
  width: 100px;
  background-color: transparent;
}

main {
  width: 60vw;
  margin-top: 2vh;
  min-height: 93vh;
  display: flex;
  justify-content: space-between;
  transition: .8s;
}

.profile-container {
  background-color: var(--gray-700);
  width: 33%;
  height: 35vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 100px;
}

/* PROFILE */

.background {
  
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: unset;
}

.background img {
  padding: 8px;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: var(--gray-900);
  border-radius: 8px;
  border: 1px var(--red-600) solid;
}

.role {
  width: 100%;
  text-align: center;
  margin-top: 18%;
  color: var(--white);
}

.role strong {
  font-size: 1.475rem;
  letter-spacing: 1px;
}

.role p {
  font-weight: 400;
}

.edit-btn {
  margin-top: 10%;
  color: var(--red-600);
  background-color: transparent;
  padding: 8px 16px;
  font-size: 1.25rem;
  border-radius: 8px;
  border: 2px solid var(--red-600);
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
}

.edit-btn:hover {
  color: var(--white);
  background-color: var(--red-600);
}

/* POST */
.post {
  width: 100%;
  background-color: var(--gray-700);
  min-height: 0vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 4%;
  color: var(--white);
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.user img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  padding: 8px;
  background-color: var(--gray-900);
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.name {
  text-align: left;
}

.user-btn .name strong {
  color: var(--gray-100);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.user-btn .name p {
  font-size: 0.875rem;
  color: var(--gray-300);
}

.timer h3 {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--gray-300);
}

.content  {
  margin-top: 2%;
  height: fit-content;
  text-overflow: ellipsis;
  overflow-y: scroll;
  padding: 12px;
  text-align: justify;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray-800);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--gray-600);    /* color of the scroll thumb */
}

.afterline {
  align-self: center;
  margin-top: 1.5em;
  width: 80%;
  height: 1px;
  background-color: var(--red-600);
}

.cc {
  background-color: var(--gray-600);
  width: 40%;
  height: 1px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-top: 0.5em;
}

.comment-box form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25em;
}

textarea {
  background-color: var(--gray-900);
  border: 0;
  padding: 12px;
  border-radius: 12px;
  color: var(--white);
  text-overflow: ellipsis;
  overflow-y: scroll;
  resize: none;
  height: 100px;
  font-weight: 400;
  transition: all .5s;
  width: 100%;
}

textarea:focus {
  outline: none;
}

textarea:hover {
  filter: brightness(1.2);
}

.comment-box span {
  font-weight: bold;
}

.submit-btn {
  width: fit-content;
  padding: 8px 16px;
  margin-top: 1em;
  border-radius: 6px;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  color: var(--white);
  background-color: var(--red-600);

  transition: .3s;
}

.submit-btn:hover {
  filter: brightness(1.2);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.new-post-btn {
  position: fixed;
  padding: 12px;
  margin: 12px;
  bottom: 2vh;
  right: 19.6vw;
  color: var(--white);
  font-size: 1.9rem;
  text-align: center;
  background-color: var(--red-600);
  cursor: pointer;
  font-weight: bold;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: .3s;
  border: 0;
}

.new-post-btn:hover {
  font-size: 2.2rem;
  animation: rotate 2s ease-in-out;
  animation-delay: 50ms;
}

/* comments */
.comments {
  width: 100%;
  margin-top: 3%;
  height: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.comments p {
  font-size: 1.5rem;
}

.comment {
  margin-top: 1em;
  height: fit-content;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--gray-800);
}

.info-user img {
  width: 60px;
  height: 60px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--gray-900);
}

.info-user {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.name {
  display: flex;
  flex-direction: column;
}

.name strong {
  font-size: 1rem;
}

.name p {
  font-size: 0.875rem;
}

.comment-content {
  margin-top: 10px;
  height: fit-content;
}

.img-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.post-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.user-btn {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.user-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.arrow {
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  transition: .5s;
}

.post-modal a {
  text-decoration: none;
}

.arrow:hover {
  transform: translateX(-50%);
  scale: 1.1;
}

.content-box {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content-box textarea {
  width: 100%;
}

.content-box span {
  position: relative;
  left: 90%;
  bottom: 28%;
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.5;
}

.content-box p {
  position: relative;
  left: 90%;
  bottom: 18%;
  color: var(--white);
  opacity: 0.5;
}

.editform {
  display: flex;
  justify-content: center;
  align-items: center;
}