<%- include("parts/header.ejs") %> 
<div class="role">
  <strong>Lucas Fortunato</strong>
  <p>Software Developer</p>
</div>
<div class="afterline" style="width: 10%; margin-top: 10px; height: 1px;"></div>
<button class="edit-btn"><i class="ph-pencil-simple"></i> Edit profile</button>
</section>
<section class="feed-container">
<div class="post">
  <div class="user-info">
    <div class="user">
      <img src="img/bosch.png" alt="">
      <div class="name">
        <strong>Lucas Fortunato</strong>
        <p>Software Developer @ ETS</p>
      </div>
    </div>
    <div class="timer">
      <h3>1 week ago</h3>
    </div>
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, atque? Placeat eligendi voluptates similique accusantium unde at sed quod dolor illum fugit accusamus ab, eveniet possimus. Sequi unde molestiae minus!
  </div>
  <span class="afterline"></span>
  <div class="comment-box">
    <span>Leave your feedback</span>
    <form action="">
      <textarea name="" id="" cols="30" rows="10" placeholder="Write a comment..."></textarea>
      <button type="submit" class="submit-btn">Publish</button>
    </form>
  </div>
</div>
<%- include("parts/footer.ejs") %> 